*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* general */
:root {
  --primary: #dba39a;
  --secondary: #f0dbdb;
  --complimentary: #f5ebe0;
  --bg: #fefcf3;
}

/* @property --top-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --top-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --bottom-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --bottom-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
} */

header {
  background-image: url("https://robynainsley21.github.io/images/personal-portfolio/soft-bg.png");
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100vh;
}

body {
  background-color: var(--bg);
  font-family: "Julius Sans One", sans-serif;
}

/* navbar */
img[alt="logo"] {
  width: 4rem;
  border: 1px solid;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin: auto 1rem;
}

nav {
  background: inherit;
}

.offcanvas {
  background-color: var(--bg);
}

/* hero section */
img[alt="hero-img"] {
  width: 20rem;
  border-radius: 50%;
}

#hero {
  display: flex;
  justify-content: space-around;
  padding: 9%;
  align-items: center;
  width: 100vw;
}

.hero-text {
  width: 60%;
}

/* about section */
#about {
  background-color: var(--secondary);
  padding: 9%;
}

#about p{
  width: 80%;
  text-align: center;
  margin: auto;
}

/* footer */
footer {
  background-color: var(--secondary);
  padding: 1rem;
}

/* media queries */
/* mobile */
