*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* general */
:root {
  --primary: #dba39a;
  --secondary: #f0dbdb;
  --complimentary: #f5ebe0;
  --bg: #fefcf3;
}

/* @property --top-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --top-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 50%;
}

@property --bottom-left {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --bottom-right {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
} */

header {
  background-image: url("https://robynainsley21.github.io/images/personal-portfolio/soft-bg.png");
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100vh;
}

body {
  background-color: var(--bg);
  font-family: "Julius Sans One", sans-serif;
}

.pink-btn {
  background-color: var(--primary);
  color: var(--bg);

  &:hover {
    border: 1px solid;
  }
}

.btn {
  border: 1px solid;
}

.card {
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

.flex-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* navbar */
img[alt="logo"] {
  width: 4rem;
  border: 1px solid;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  margin: auto 1rem;
}

nav {
  background: inherit;
}

.offcanvas {
  background-color: var(--bg);
}

/* hero section */
img[alt="hero-img"] {
  width: 20rem;
  border-radius: 50%;
}

#hero {
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 9%;
  align-items: center;
  width: 100vw;
}

.hero-text {
  width: 60%;
}

/* about section */
#about {
  background-color: var(--secondary);
  padding: 9%;
  transition: all 0.3s ease;
  perspective: 1000px;

  &:hover {
    cursor: pointer;
    transform: translateY(-20px) rotateX(5deg);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  }
}

#about p {
  width: 80%;
  text-align: center;
  margin: auto;
}

/* resume section */
.education-card {
  background-color: var(--primary);

  &:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.07);
  }
}

.work-experience-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.resume-btn {
  background-color: var(--bg);
  border: 1px solid;

  &:hover {
    background-color: var(--primary);
    border: 1px solid var(--bg);
    font-weight: bold;
    color: var(--bg);
  }
}

/* skills section */
#skills {
  background-color: var(--secondary);
  padding: 5%;
}

#skills .row {
  gap: 0.6rem;
}

.grid-item {
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  margin: 1rem auto;
  width: 11rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  &:hover {
    transition: all 0.3s;
    transform: scale(1.1);
  }
}

.grid-item > p {
  margin: 0;
}

/* projects section */
#projects {
  background-color: var(--primary);
  padding: 2rem;
  transition: all 0.3s ease;
  perspective: 1000px;

  &:hover {
    cursor: pointer;
    transform: translateY(-20px) rotateX(5deg);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  }
}

img[alt="project-image"] {
  height: 9rem;
  width: auto;
  object-fit: contain;
  aspect-ratio: 1 /1;
  margin: 0.5rem;
}

.carousel-control-prev {
  position: absolute;
  left: 0;
}

/* testimonials section */
button[data-bs-target="#testimonials-carousel"] {
  background-color: var(--primary);
  height: 2.5rem;
  width: 2.5rem;
  top: 30%;
  border-radius: 50%;
  margin: 0.8rem;
}

img[alt="testimonial-image"] {
  height: 10rem;
  width: auto;
  object-fit: contain;
}

.scrollable-text {
  height: 200px;
  overflow-y: auto;
}

/* contact section */
.submit-btn {
  background-color: var(--primary);
  color: var(--bg);

  &:hover {
    border: 1px solid;
  }
}

.email-text {
  font-family: "Roboto", sans-serif;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-clickable {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 10rem;

  position: relative;
  top: -6px;
  border: 0;
  transition: all 40ms linear;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;

  &:active:focus,
  :focus:hover,
  focus {
    outline: medium none;
  }

  &:active {
    top: 2px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3%;
}

/* footer */
footer {
  background-color: var(--secondary);
}

/* media queries */
/* mobile and tablet */
@media (width < 769px) {
  /* hero */
  #hero {
    padding-top: 30%;
  }

  /* resume section */
  .work-experience-box {
    display: flex;
    flex-direction: column;
  }
}
